{% extends 'base.html' %}
{% block title %}{{ super() }} - Admin{% endblock %}

{% block content %}
<div class="container">
    <h2>Admin Settings</h2>

    <form action="{{ url_for('admin') }}" method="post">
        <table class="table table-condensed">
            <tr>
                <td><label for="sitename">Site Name</label></td>
                <td><input class="form-control" type="text" id="sitename"
                           name="sitename" value="{{ sitename }}" /></td>
            </tr>
            <tr>
                <td><label for="copyright">Copyright</label></td>
                <td>
                    <input class="form-control" type="text" id="copyright"
                           name="copyright" value="{{ copyright }}" />
                    {% if copyright and current_year not in copyright %}
                    <p class="help-block text-danger">Warning: {{ current_year }} is not in the copyright date. You may need to update it.</p>
                    {% endif %}
                    <p class="help-block">Copyright date string shown in the footer, e.g. <code>2012 - 2026</code>.</p>
                </td>
            </tr>
            <tr>
                <td><label for="extra_links">Extra Links</label></td>
                <td>
                    <input class="form-control" type="text" id="extra_links"
                           name="extra_links" value="{{ extra_links }}" />
                    <p class="help-block">Comma-separated list of <code>Label:url</code> pairs, e.g. <code>About:/pages/about.html,Resume:/pages/resume.pdf</code></p>
                </td>
            </tr>
            <tr>
                <td><label for="new_password">New Password</label></td>
                <td><input class="form-control" type="password"
                           id="new_password" name="new_password" /></td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Save" />
    </form>
</div>
{% endblock %}
